.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ensures the page takes up the full viewport height

  main {
    flex: 1; // Makes the main content take up available space between header and footer
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}